.cards-container {
  height: auto;
  background: rgb(35,99,130);
  background: radial-gradient(circle, rgb(35, 97, 128) 0%, rgb(17, 62, 81) 75%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 0;
  padding: 50px;
  justify-items: center;
}

@media (max-width: 1000px) {
  .cards-container {
    gap: 40px 25px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr; /* Kortit pinoutuvat päällekkäin */
    padding: 40px 25px; /* Vähennetään paddingia pienemmillä näytöillä */
    height: auto;
  }
}