.hero-container {
  background-image: url('/src/images/robot.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container>h1 {
  font-family: "Zen Dots", sans-serif;
  color: white;
  font-size: 40px;
  z-index: 1;
  max-width: 80vw;
  text-align: center;
}

.hero-container>h1>strong {
  font-size: 25px;
  font-family: "montserrat", serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  /* Musta kerros 50% läpinäkyvyydellä */
  z-index: 1;
  /* Overlay kerros */
}

@media (max-width: 475px) {
  .hero-container>h1 {
    font-size: 30px;
  }
}

@media (max-width: 370px) {
  .hero-container>h1 {
    font-size: 25px;
  }
}